*
{
    padding: 0;
    margin: 0;
}


header
{
    width: 100%;
    height: 20%;
    background-image: radial-gradient(red,black);
}

h1
{
    color: lightblue;
    
}

main
{
    width: 100%;
    height: 80%;
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/874125736124248995/31CD386D33F933C82DE5471ED96A85CA5744130B/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
    background-repeat: no-repeat;
    background-size: cover;
}


footer
{
    width: 100%;
    height: 40%;
    background-color: aqua;
}
