body
{
    background-image: linear-gradient(to left,blue,red);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1
{
    color: rgb(255, 255, 255);
    font-size: 100px;
    background-color: black;
}

p
{
    color: white;
    text-align: center;
}