header
{
    width: 100%;
    height: 20%;
    background-color: red;
}

main
{
    width: 100%;
    height: 80%;
    background-color: aqua;
}


footer
{
    width: 100%;
    height: 40%;
    background-color: orangered;
}
